.App {
  text-align: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url(./components/images/Untitled.jpeg);
  background-size: cover;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    background-color: blue;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkcyan;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product_img {
  object-fit: contain;
  width: 100%;
  height: 200px;
}

.caroousel_img {
  width: 100px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
